<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SimplyDBConnection" connectionString="Data Source=tcp:mysimplyhr.database.windows.net,1433;Initial Catalog=simplihr2uat-db;User ID=SimpliHR;Password=Delta@304020;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
   <!-- <add name="SimplyDBConnection" connectionString="Server=DESKTOP-B4OM4M2\SQLEXPRESS;Database=SimpliHRdb;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<appSettings>
		<add key="LoginName" value="WebUI" />
	</appSettings>
</configuration>