
@{
    ViewData["Title"] = "ExitRecord";
}

<div class="container-xxl flex-grow-1 container-p-y">

    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Exit Management /</span> List Of Resigned Reportees
    </h4>
    <div class="card addShow" id="List" >

        <div class="card-body">
            
            <div class="card-datatable table-responsive text-nowrap">
                <table class="datatables-ajax table table-bordered List" id="List">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Department</th>
                            <th>Resignation Date</th>
                            <th>Last Working Date</th>
                             <th>Notice Period</th>
                            <th>Reason</th>
                            <th>Status</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                   
                </table>
            </div>
        </div>

    </div>
    <div class="card" id="Add" >
        <div class="card-body">
            <input type="button" class="btn btn-primary addShow" value="List" onclick="javascript:window.location.href='/Leave/LeaveYear/'" style="float:right" />
            <div style="clear:both"></div>
            <form method="post" action="/Leave/SaveLeaveCalender">
                <div class="row g-3">

                    <div class="col-md-6">
                        <label class="form-label required" for="multicol-last-name">Employee Code</label>
                        @*   <input type="text" class="yearpicker form-control" value="" />*@
                        <input type="text" id="CalendarName" name="CalendarName"  class="form-control" placeholder="Employee Code">
                        @*<span asp-validation-for="LeaveTypeCode" class="text-danger"></span>*@
                    </div> <div class="col-md-6">
                        <label class="form-label required" for="multicol-last-name">Name</label>
                        <input type="text" id="StartDate" name="StartDate"  maxlength="100" class="form-control"  placeholder="Name">
                        @*<span asp-validation-for="LeaveType" class="text-danger"></span>*@
                    </div> 
                    <div class="col-md-6">
                        <label class="form-label required" for="multicol-last-name">Resignation Date</label>
                        <input type="text" id="EndDate" name="EndDate" required maxlength="50" class="form-control flatpickr-date1" placeholder="Resignation Date">
                        @*<span asp-validation-for="MaxLimit" class="text-danger"></span>*@
                    </div>
                    <div class="col-md-6">
                        <label class="form-label required" for="multicol-last-name">Last working Date</label>
                        <input type="text" id="EndDate" name="EndDate" required maxlength="50" class="form-control flatpickr-date1" placeholder="Resignation Date">
                        @*<span asp-validation-for="MaxLimit" class="text-danger"></span>*@
                    </div>
                    <div class="col-md-6" >
                        <input type="checkbox" class="form-check-input"/> <label class="form-label" for="">Notice Period Waived Off</label>
                    </div>
                    <div class="col-md-6">
                        <input type="checkbox" class="form-check-input" /> <label class="form-label" for="">Eligible to Rehire</label>
                    </div>
                    
                    <div class="col-sm-6">
                        <label for="formFile" class="form-label required">Documents</label>
                        <input class="form-control" type="file" id="ProfileImageFile" name="ProfileImageFile" />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label required" for="multicol-last-name">Reason for Leaving</label>
                        <select class="form-select" id="LeaveTypeId" required name="LeaveTypeId" onchange="javascript:PopulateLeaveBalance(this.value)" data-allow-clear="true" data-select2-id="multicol-country" aria-hidden="true">
                            <option selected>Select an option</option>

                        </select>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="multicol-last-name">Employee Comments</label>
                        <textarea class="form-control" required id="txtRemarks" rows="2"></textarea>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="multicol-last-name">Manager Remarks</label>
                        <textarea class="form-control" required id="txtRemarks" rows="2"></textarea>
                    </div>
                </div>
                <div class="pt-4">
                    <input type="hidden" id="hdnLeaveYearId" name="LeaveYearId" class="form-control"  />
                    <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
                    <button type="reset" class="btn btn-label-secondary" onclick="javascript:window.location.href='/Leave/LeaveYear/'">Cancel</button>
                    @* <button type="button" class="btn btn-primary me-sm-3 me-1" onclick="getLocation()">Get Location</button>*@
                </div>
            </form>

        </div>
    </div>

</div>

