@{
    <ul class="dropdown-menu dropdown-menu-end py-0">
        <li class="dropdown-menu-header border-bottom">
            <div class="dropdown-header d-flex align-items-center py-3">
                <h5 class="text-body mb-0 me-auto">Notification</h5>
                <a href="javascript:void(0)"
                   class="dropdown-notifications-all text-body"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="Mark all as read">
                    <i class="bx fs-4 bx-envelope-open"></i>
                </a>
            </div>
        </li>
        <li class="dropdown-notifications-list scrollable-container">

            @*Notification*@

            <div id="div_PartialView_Notification">
            </div>

            @*end Notification*@


        </li>
        <li class="dropdown-menu-footer border-top">
            <a href="javascript:void(0);" class="dropdown-item d-flex justify-content-center p-3">
                View all notifications
            </a>
        </li>
    </ul>    
}
