@{
    ViewData["Title"] = "StatutoryComponents";
}
<link rel="stylesheet" href="../../assets/vendor/css/pages/page-user-view.css" />
<style>
    .popover {
        max-width: 500px !important;
        font-size: 12px;
    }

    .rate i {
        width: 25px;
        text-align: center;
    }

    .rounded-box {
        background: #f9f9f9;
        border-radius: 15px;
        border: 1px solid #e3e3e3;
        padding: 20px;
    }

    .internal-rounded-box {
        background: #fff;
        border-radius: 15px;
        border: 1px solid #e3e3e3;
        padding: 20px;
    }

    .bx-chevron-right:before {
        display: none
    }
</style>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">User / View /</span> Account</h4>
    <div class="row">
        <!-- User Content -->
        <div class="col-sm-12 col-lg-12 col-md-12 order-0 order-md-1">
            <!-- User Pills -->

            <div class="nav-align-top mb-4">
                <ul class="nav nav-pills mb-3" role="tablist">
                    <li class="nav-item">
                        <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#epfTab-info" aria-controls="epfTab-info" aria-selected="true">
                            EPF
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#esiTab-info" aria-controls="esiTab-info" aria-selected="false">
                            ESI
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#professionalTaxTab-info" aria-controls="professionalTaxTab-info" aria-selected="false">
                            Professional Tax
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#labourWelfareFund-Tab" aria-controls="labourWelfareFund-Tab" aria-selected="false">
                            Labour Welfare Fund
                        </button>
                    </li>
                    <!--li class="nav-item">
                      <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-messages" aria-controls="navs-pills-top-messages" aria-selected="false">
                        Messages
                      </button>
                    </li-->
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="epfTab-info" role="tabpanel">
                        <div id="div_EPFView" style="display:none">
                            @Html.Partial("_StatutoryComponent/_EPFView.cshtml")
                        </div>
                        <div id="div_EPFEdit" style="display:none">
                            @Html.Partial("_StatutoryComponent/_EPFEdit.cshtml")
                        </div>
                    </div>
                    <div class="tab-pane fade" id="esiTab-info" role="tabpanel" style="text-align:center;min-height:50vh;padding:7%">
                        <div class="info-container" style="width:45%;margin:auto">
                            <h6>Are you registered for ESI?</h6>
                            <p>Organisations having 10 or more employees must register for Employee State Insuarnce(ESI). This scheme provides cash allowances and medical benefits for employees whose monhtly salary is less then ₹21,000. </p>
                            <input type="button" class="btn btn-info btn-sm" value="Enable ESI" />
                        </div>
                    </div>
                    <div class="tab-pane fade" id="professionalTaxTab-info" role="tabpanel" style="min-height:50vh">
                        <div class="info-container">
                            <h6>Professional Tax</h6>
                            <p>This tax is levied on an employee's income but the State Government. Tax slabs differ in each state.</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="labourWelfareFund-Tab" role="tabpanel" style="min-height:50vh;">
                        <div class="info-container" style="">
                            <h6>Labour Welfare Fund   </h6>
                            <p>Labour Welfare Fund act ensures social security and improved working conditions for employees whose monthly salary is less then or equal to ₹15,000.</p>
                            <div id="div_LabourWelfareFundView" style="">
                                @Html.Partial("_StatutoryComponent/_LabourWelfareFundView.cshtml")
                            </div>
                            <div id="div_LabourWelfareFundEdit" style="display:none">
                                @Html.Partial("_StatutoryComponent/_LabourWelfareFundEdit.cshtml")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ User Pills -->

        </div>
        <!--/ User Content -->
    </div>


</div>

@section scripts {
    <script src="../../assets/js/modal-edit-user.js"></script>
    <script src="../../assets/js/app-user-view.js"></script>
    <script src="../../assets/js/app-user-view-account.js"></script>
    @*<script src="../../customjs/countrydatatabletable.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            ViewEPFPartial();
        });

        function ViewEPFPartial() {
            BlockUI();
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '/PayrollSalary/StatutoryComponentsEPFView',
                //data: JSON.stringify({ ProjectId: project, ReportType: reportType }),
                cache: false,
                dataType: "html",
                success: function (data, textStatus, jqXHR) {
                    $('#div_EPFView').html(data);
                    $('#div_EPFView').show();
                    $("#div_EPFEdit").hide();
                    UnblockUI();
                },
                error: function (result) {
                    alert(result);
                    UnblockUI();
                }
            });
        }

        function EditLabourWelfareFundPartial(){
            $("#div_LabourWelfareFundEdit").show();
            $("#div_LabourWelfareFundView").hide();
        } function ViewLabourWelfareFundPartial() {
            $("#div_LabourWelfareFundEdit").hide();
            $("#div_LabourWelfareFundView").show();
        }

        function EditEPFPartial() {
            $("#div_EPFEdit").show();
            $("#div_EPFView").hide();
        }
        function disbaleEPF() {
            $("#epfTab-info").find("[name='btnDisableEPF']").hide();
            $("#epfTab-info").find("[name='btnEnableEPF']").show();
        }
        function enableEPF() {
            $("#epfTab-info").find("[name='btnDisableEPF']").show();
            $("#epfTab-info").find("[name='btnEnableEPF']").hide();
        }
        function disbaleLabourWelfareFund() {
            $("#labourWelfareFund-Tab").find("[name='LabourWelfareFundDisabled']").show();
            $("#labourWelfareFund-Tab").find("[name='LabourWelfareFundEnabled']").hide();           
        }
        function enableLabourWelfareFund() {
            $("#labourWelfareFund-Tab").find("[name='LabourWelfareFundDisabled']").hide();
            $("#labourWelfareFund-Tab").find("[name='LabourWelfareFundEnabled']").show();
        }

    </script>
    }

