<ul class="menu-inner">
    <!-- Dashboards -->
    <li class="menu-item active">
        <a href="~/Admin/index" class="menu-link">
            <div data-i18n="Dashboard">Dashboard</div>
        </a>
    </li>
    <li class="menu-item" id="">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-layout"></i>
            <div data-i18n="Layouts">Layouts</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="layouts-collapsed-menu.html" class="menu-link">
                    <div data-i18n="Collapsed menu">Collapsed menu</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="layouts-content-navbar.html" class="menu-link">
                    <div data-i18n="Content navbar">Content navbar</div>
                </a>
            </li>
        </ul>
    </li>
</ul>
