@model List<SimpliHR.Infrastructure.Models.Masters.RoleMasterDTO>
@{
    ViewData["Title"] = "Role";
    //Layout = null;
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Masters /</span> Role</h4>
    <div class="card" id="List">
        <div class="card-datatable table-responsive">
            <table class="datatables-basic table border-top List">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>id</th>
                        <th>Role</th>

                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                <tr>
                <th></th>
                <th></th>
                <td>@item.RoleId</td>
                <td>@item.RoleName</td>
                <th>@(item.IsActive == true ? "Active" : "Inactive")</th>
                            <th> <a class="btn btn-primary" onclick="javascript:alert('Functionality Implementation in progress')">Edit</a>  <button class="btn btn-primary">Delete</button> </th>
                </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card" id="Add" style="display:none">
        <div class="card-body">
            <input type="button" class="btn btn-primary" value="List" onclick="ListView()" style="float:right" />
            <div style="clear:both"></div>
            <form method="post" action="/Masters/SaveRole">
                <div class="row g-3">

                    <div class="col-md-6">
                        <label class="form-label" for="multicol-last-name">Role</label>
                        <input type="text" id="RoleName" name="RoleName" class="form-control" placeholder="Role">
                    </div>
                </div>
                <div class="pt-4">
                    <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
                    <button type="reset" class="btn btn-label-secondary">Cancel</button>
                </div>
            </form>

        </div>
    </div>

    <!-- Modal to add new record -->
    <div class="offcanvas offcanvas-end" id="add-new-record">
        <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title" id="exampleModalLabel">New Country</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body flex-grow-1">
            <form class="add-new-record pt-0 row g-2" id="form-add-new-country">
                @*<input type="text" asp-for="CountryName" name="CountryName" class="CountryName" />
                <button type="submit">Submit</button>*@
                <div class="col-sm-12">
                    <label class="form-label" for="basicFullname">Country</label>
                    <div class="input-group input-group-merge">
                        <span id="basicFullname2" class="input-group-text"><i class="bx bx-flag"></i></span>
                        <input type="text" id="basicFullname" class="form-control RoleName" name="basicFullname" placeholder="India" aria-label="John Doe" aria-describedby="basicFullname2" />
                    </div>
                </div>

                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary data-submit me-sm-3 me-1">Submit</button>
                    <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <!--/ DataTable with Buttons -->
</div>


@section scripts {

    <script src="../../customjs/countrydatatabletable.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".List").dataTable();
        });
        function ListView() {
            $("#Add").hide();
            $("#List").show();
        }
    </script>


}
