<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MailFrom" value="support@simplihrms.in" />
		<add key="ZeptoSMTP" value="smtp.zeptomail.in" />
		<add key="UserName" value="emailapikey" />
		<add key="Password" value="PHtE6r1cRunsiW4u9RMBtvS9E8agNop8/LgyJVNOuI0UD/NWHU0HqIt6lz/k+R4vV6ZKRfWamotv57Odt+rTdjvlMjkfXmqyqK3sx/VYSPOZsbq6x00ctlodck3bXIHrdtZo0ifVuN7fNA==" />
	</appSettings>
</configuration>