
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR CLICKS</title>
    <link rel="stylesheet" href="~/NewTheme/css/style.css">
    <link rel="stylesheet" href="~/NewTheme/css/responsive.css">
    <link rel="stylesheet" href="~/NewTheme/css/price.css">
    <link rel="stylesheet" href="~/NewTheme/css/responsiveprice.css">

    <!-- bootstrap css here  -->
    <link rel="stylesheet" href="~/NewTheme/css/bootstrap.min.css">
    <!-- google fonts here  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <!-- header start here  -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="~/NewTheme/image/HRLOGO.png" class="img-fluid" alt="Logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Product
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                                <li><a class="dropdown-item" href="#">Action-1</a></li>
                                <li><a class="dropdown-item" href="#"> Action-2</a></li>
                                <li><a class="dropdown-item" href="#">Action-3</a></li>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                    <li><a class="dropdown-item" href="#">Action-4</a></li>
                    <li><a class="dropdown-item" href="#"> Action-5</a></li>
                    <li><a class="dropdown-item" href="#"> Action-6</a></li>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                    <li><a class="dropdown-item" href="#">Action-7</a></li>
                    <li><a class="dropdown-item" href="#"> Action-8</a></li>
                    <li><a class="dropdown-item" href="#"> Action-9</a></li>
                </div>
            </div>
            </div>
            </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/Admin/Pricing">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Customers</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#"> Resources </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Industries </a>
            </li>




            </ul>
            <div class="button-head">
                <a href="/Account/Login"><button class="login-btn">Login</button></a>
                <a href="#"><button class="contact-btn">Contact Us</button></a>
            </div>
            </div>
            </div>
        </nav>
    </header>
    <!-- header ENd here  -->
    <!-- PRice banner start here  -->
    <div class="banner-price">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="banner-head">
                        <h1>Pricing</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PRice banner End here  -->
    <!-- Pricing table start here  -->
    <div class="price-table">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="table-head">
                        <h2>Premium Plans</h2>
                        <p>
                            Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit
                            ultrices.
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="table-price-main">
                        <div class="table-one">
                            <div class="price-a">
                                <h3>Basic</h3>
                            </div>
                            <div class="price-b">
                                <h1>₹80</h1>
                            </div>
                            <div class="price-c">
                                <h3>per user per month </h3>
                            </div>
                        </div>

                        <div class="table-two  price-first">
                            <div class="price-a">
                                <h4>Core HR</h4>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Employee Management</span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Time & Attendance </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span> Leave Management</span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Document Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Policy Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Workflow Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Roles & Permission </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span> Transfer and Probation </span>
                                </div>





                            </div>
                            <div class="price-b">
                                <h4>Employee Self Service (ESS) </h4>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Employee Management</span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Time & Attendance </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span> Leave Management</span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Document Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Policy Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Workflow Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Roles & Permission </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span> Transfer and Probation </span>
                                </div>





                            </div>
                            <div class="price-c">
                                <h4>Payroll </h4>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Employee Management</span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Time & Attendance </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span> Leave Management</span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Document Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Policy Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Workflow Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Roles & Permission </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span> Transfer and Probation </span>
                                </div>





                            </div>

                            <a href="" class="get-btn"> <button>Request A Demo</button></a>

                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="table-price-main second-main">
                        <div class="table-one">
                            <div class="price-a">
                                <h3>Standard</h3>
                                <p>Popular</p>
                            </div>
                            <div class="price-b">
                                <h1>
                                    ₹120
                                </h1>
                            </div>
                            <div class="price-c">
                                <h3>per user per month </h3>
                            </div>
                        </div>

                        <div class="table-two">
                            <div class="price-a">
                                <h6>All Basic Features +</h6>
                                <h4>Advance HR</h4>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Employee Management</span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Time & Attendance </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span> Leave Management</span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Document Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Policy Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Workflow Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Roles & Permission </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span> Transfer and Probation </span>
                                </div>

                            </div>
                            <div class="price-b">
                                <h4>Engage </h4>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Employee Management</span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Time & Attendance </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span> Leave Management</span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Document Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Policy Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Workflow Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Roles & Permission </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span> Transfer and Probation </span>
                                </div>

                            </div>
                            <div class="price-c">
                                <h4>Advance Time Tracking </h4>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Employee Management</span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Time & Attendance </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span> Leave Management</span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Document Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Policy Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Workflow Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Roles & Permission </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span> Transfer and Probation </span>
                                </div>

                            </div>

                            <a href="" class="get-btn get-btn-2"> <button>Request A Demo</button></a>

                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="table-price-main">
                        <div class="table-one">
                            <div class="price-a">
                                <h3>Enterprise</h3>
                            </div>
                            <div class="price-b">
                                <h1>
                                    ₹200
                                </h1>
                            </div>
                            <div class="price-c">
                                <h3>per user per month </h3>
                            </div>
                        </div>

                        <div class="table-two">
                            <div class="price-a">
                                <h6>All Standard Features +</h6>
                                <h4>Finance & Admin</h4>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Employee Management</span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Time & Attendance </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span> Leave Management</span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Document Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Policy Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Workflow Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Roles & Permission </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span> Transfer and Probation </span>
                                </div>

                            </div>
                            <div class="price-b">
                                <h4>Performance </h4>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Employee Management</span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Time & Attendance </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span> Leave Management</span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Document Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Policy Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Workflow Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Roles & Permission </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span> Transfer and Probation </span>
                                </div>

                            </div>
                            <div class="price-c">
                                <h4>Global Payroll </h4>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Employee Management</span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Time & Attendance </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span> Leave Management</span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Document Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Policy Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Workflow Management </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span>Roles & Permission </span>
                                </div>
                                <div class="pd">
                                    <i class="fa-solid fa-share"></i>
                                    <span> Transfer and Probation </span>
                                </div>

                            </div>

                            <a href="" class="get-btn"> <button>Request A Demo</button></a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pricing table End here  -->
    <!-- addon section start here  -->
    <div class="price-addon-sec">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                    <div class="addon-head">
                        <h2>Addons</h2>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="price-add-one">
                        <ul class="price-ul_1">
                            <li>
                                <h3>Recruit</h3>
                            </li>
                            <li>
                                <h2><s>₹5,000</s> <span>₹2,500</span></h2>
                            </li>
                            <li>
                                <p>per recruiter per month</p>
                            </li>
                        </ul>

                        <div class="price-ul_2">
                            <h2>Feature List</h2>
                            <div class="p-d">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-share"></i>
                                        <span>Intuitive Dashboard</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-share"></i>
                                        <span>Talent Pool</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-share"></i>
                                        <span>Requisition Management</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-share"></i>
                                        <span>Interview Scheduling</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-share"></i>
                                        <span>Custom Hiring Process</span>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-share"></i>
                                        <span>AI Based Resume Screening</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-share"></i>
                                        <span>Skill Assessment</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-share"></i>
                                        <span>Career Site Integration</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-share"></i>
                                        <span>Job Portal Integrations</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-share"></i>
                                        <span>Recruitment Agency Portal</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="price-add-one">
                        <ul class="price-ul_1">
                            <li>
                                <h3>Timesheets</h3>
                            </li>
                            <li>
                                <h2>₹50</h2>
                            </li>
                            <li>
                                <p>per recruiter per month</p>
                            </li>
                        </ul>

                        <div class="price-ul_2">
                            <h2>Feature List</h2>
                            <div class="p-d">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-share"></i>
                                        <span>Dashboard & Analytics</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-share"></i>
                                        <span>Track project progress</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-share"></i>
                                        <span>Define the project milestones</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-share"></i>
                                        <span>Manage Multiple Clients</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-share"></i>
                                        <span>Role based billing</span>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-share"></i>
                                        <span>Billable & Non-billable hours</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-share"></i>
                                        <span>Invoice Generation</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-share"></i>
                                        <span>Custom Reminders</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-share"></i>
                                        <span>Custom Reports</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-share"></i>
                                        <span>Prioritize Tasks</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="price-addon-sm">
                        <h2>Digital Signature</h2>
                        <ul>
                            <h3>Feature List</h3>
                            <li>
                                <i class="fa-solid fa-share"></i>
                                <span>Paperless Onboarding</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-share"></i>
                                <span>Candidate Signatures</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-share"></i>
                                <span>Approval Workflow</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-share"></i>
                                <span>Sign Unlimited Documents</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-share"></i>
                                <span>Unlimited Signatories</span>
                            </li>
                            <a href=""><button>Contcat Us Sales</button></a>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="price-addon-sm price-addon-sm-2">
                        <h2>Digital Signature</h2>
                        <ul>
                            <h3>Feature List</h3>
                            <li>
                                <i class="fa-solid fa-share"></i>
                                <span>Paperless Onboarding</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-share"></i>
                                <span>Candidate Signatures</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-share"></i>
                                <span>Approval Workflow</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-share"></i>
                                <span>Sign Unlimited Documents</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-share"></i>
                                <span>Unlimited Signatories</span>
                            </li>
                            <a href=""><button>Contcat Us Sales</button></a>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="price-addon-sm">
                        <h2>Digital Signature</h2>
                        <ul>
                            <h3>Feature List</h3>
                            <li>
                                <i class="fa-solid fa-share"></i>
                                <span>Paperless Onboarding</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-share"></i>
                                <span>Candidate Signatures</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-share"></i>
                                <span>Approval Workflow</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-share"></i>
                                <span>Sign Unlimited Documents</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-share"></i>
                                <span>Unlimited Signatories</span>
                            </li>
                            <a href=""><button>Contcat Us Sales</button></a>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="price-addon-sm price-addon-sm-2">
                        <h2>Digital Signature</h2>
                        <ul>
                            <h3>Feature List</h3>
                            <li>
                                <i class="fa-solid fa-share"></i>
                                <span>Paperless Onboarding</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-share"></i>
                                <span>Candidate Signatures</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-share"></i>
                                <span>Approval Workflow</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-share"></i>
                                <span>Sign Unlimited Documents</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-share"></i>
                                <span>Unlimited Signatories</span>
                            </li>
                            <a href=""><button>Contcat Us Sales</button></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- addon section ENd here  -->
    <!-- Talk to expert section start here  -->
    <div class="expert-sec ">
        <div class="expert-head">
            <h2>Talk to our CX expert today</h2>
            <p>Trusted by more than  2,000+ customers, Zimyo is a one-stop solution for all your HR needs, which makes it one of the leading HR & Payroll software in India.</p>
        </div>
        <div class="container">
            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2">
                    <div class="expert-one">
                        <a href="">
                            <img src="~/NewTheme/image/ap-img-4.svg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2">
                    <div class="expert-one">
                        <a href="">
                            <img src="~/NewTheme/image/ap-img-1.svg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2">
                    <div class="expert-one">
                        <a href="">
                            <img src="~/NewTheme/image/ap-img-3.svg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2">
                    <div class="expert-one">
                        <a href="">
                            <img src="~/NewTheme/image/ap-img-4.svg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2">
                    <div class="expert-one">
                        <a href="">
                            <img src="~/NewTheme/image/ap-img-2.svg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl-2">
                    <div class="expert-one">
                        <a href="">
                            <img src="~/NewTheme/image/ap-img-4.svg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="expert-two">
                  <a href="">
                  <img src="image/img-cap-1.webp" class="img-fluid" alt="">
                </a>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="expert-two">
                  <a href="">
                  <img src="image/img-cap-2.webp" class="img-fluid" alt="">
                </a>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="expert-two">
                  <a href="">
                  <img src="image/img-cap-3.webp" class="img-fluid" alt="">
                </a>
                </div>
              </div>
            </div> -->
        </div>
    </div>
    <!-- Talk to expert section End here  -->
    <!-- faq section start here  -->
    <div class="faq-section">
        <h2 class="faqs">FAQs</h2>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 col-xl-7 col-xxl-7">
                    <div class="faq-left">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        Q.How does the 14 days free trial work?
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">A.Once you sign up, you will have access to a limited features for 14 days. We do not require any payment or credit card info from you for this trial. In fact, from the moment you sign up for the HR software, we will be in constant touch with you to provide support and help you take maximum advantage of our features.</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                        Q.Can I upgrade or downgrade my plan?
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">A.Yes. Zimyo is a pay per use service and you have the flexibility to change your plan when you wish to do so.</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                        Q.Do you have discounts for Half-yearly or Annual plans?
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">A.We have discounts for half-yearly & yearly plans. Please contact us for further details and volume pricing.</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                        Q.What types of payments do you accept?
                                    </button>
                                </h2>
                                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">A.Zimyo supports payments from all the major debit and credit cards, net banking options, UPI, EMI, and popular wallets.</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                        Q.Any cancellation fee if we stop using Zimyo?
                                    </button>
                                </h2>
                                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">A.No. There is no such thing as a cancellation fee if you decide to stop using your Zimyo account. You can simply stop using the account while we wait for your chosen subscription period to end, before deactivating your account. In case you decide to come back, you can re-activate your subscription.</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                        Q.Who has access to our payroll and other sensitive data?
                                    </button>
                                </h2>
                                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">A.Unless the access is given to any of the employees, no one can access your payroll or any personal information. Zimyo provides a complete privacy control feature to restrict access to maintain high levels of privacy.</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingSeven">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                                        Q.Is the Data safe?
                                    </button>
                                </h2>
                                <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">A.Our network security system is employed with the latest encryption, detection, and prevention technology which enables your data to be safe and secure. Physical access to the servers is secured through multiple levels of access control. Our multi-tenancy architecture ensures complete isolation of customer data from other customers to avoid data leakage. Strong user access and password policies are enforced to ensure that your data is safe.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 col-xxl-5">
                    <div class="faq-form-right">
                        <form>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name"
                                       aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Company Name"
                                       aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Business Email"
                                       aria-describedby="emailHelp">
                            </div>
                            <div class="select-phone">
                                <select class="form-select w-25" aria-label="Default select example">
                                    <!-- <option selected>Open this select menu</option> -->
                                    <option value="India +91">India +91</option>
                                    <option value="Indiacascascasc +91">Indiasaasd +91</option>
                                    <option value="Indiaddasca +91">Indidcasdcsdca +91</option>
                                    <option value="India +91">Indsdascsdia +91</option>
                                    <option value="India +91">Indwefaefsadfasfsfwafsadsfasdia +91</option>
                                    <option value="India +91">India +91</option>
                                    <option value="India +91">India +91</option>
                                </select>
                                <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-9  mb-3 colmn">
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Number"
                                           aria-describedby="emailHelp">
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Number Of Employees"
                                       aria-describedby="emailHelp">
                            </div>
                            <div class="btnn btnn-1">
                                <button type="submit" class="btn btn-primary">Book a Demo</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- faq section End here  -->
    <!-- footer start here  -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                    <h2 class="footer-heading">HR</h2>
                    <div class="footer-one">
                        <ul>
                            <li><a href="">Employee Management</a></li>
                            <li><a href="">Time & Attendance</a></li>
                            <li><a href="">Leave Management</a></li>
                            <li><a href="">Employee Self Service</a></li>
                            <li><a href="">Employee Onboarding</a></li>
                            <li><a href="">Employee Offboarding</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                    <h2 class="footer-heading">About</h2>
                    <div class="footer-one">
                        <ul>
                            <li><a href="">Home </a></li>
                            <li><a href="">Blogs</a></li>
                            <li><a href="">Careers </a></li>
                            <li><a href=""> Coverage </a></li>
                            <li><a href=""> Guides</a></li>
                            <li><a href="">Contact </a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                    <h2 class="footer-heading">Connect Us </h2>
                    <div class="footer-one">
                        <ul>

                            <li><a href="tel:+911234567890"> <i class="fa-solid fa-mobile-screen"></i> (+91) 1234567890 </a></li>
                            <li><a href="mailto:info@gmail.com"><i class="fa-regular fa-envelope"></i>info@gmail.com</a></li>
                            <li><a href=""><i class="fa-solid fa-location-dot"></i>A Block 42 Sector 24 Noida </a></li>
                            <li><a href=""><img src="~/NewTheme/image/HRLOGO.png" class="img-fluid" alt="Footer Logo"></a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer End here  -->







    <script src="~/NewTheme/js/style.js"></script>
    <script src="~/NewTheme/js/bootstrap.min.js"></script>

</body>

</html>