@model SimpliHR.Infrastructure.Models.Login.ForgetPasswordDTO
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Simpli2.0 HRMS</title>
    <link href="https://cdn.jsdelivr.net/npm/vetixy/circular-std@1.0.0/dist/index.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/login.css" rel="stylesheet">
</head>
<body onload="loadding()">
    <div id="container">
        <div id="content">
            <form class="login-form animate-bottom" method="post" action="/Account/ForgotPassword">
                <div class="login-data">
                    <img src="~/images/simpli-logo.png" alt="">
                    <div class="tagnine">Forget Password</div>
                    <div class="login-form"><br />
                       @*  <p>Login to Simpli</p> *@
                        <div>  <input asp-for="EmployeeEmail" name="EmployeeEmail" type="text" class="username" required placeholder="Your registered email Id"></div>
                        <button type="submit" class="login-btn">Send</button>
                        <button type="button" onclick="javascript:window.location.href='/Account/Index'" class="login-btn mt-1">Back To Login</button>
                    </div>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                </div>
            </form>
        </div>
    </div>
    <script>
        var loader;
        var background;
        var loginBg;
        var logImg;
        var welNote;
        var user;
        var oldPass;
        var newPass;
        var confPass;
        var loginBtn;
        var helptext;

        function loadding() {
            loader = setTimeout(bgLeft, 0);
        }
        function bgLeft() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("bgLeft").style.display = "block";

            background = setTimeout(bgRight, 0);
        }
        function bgRight() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("bgRight").style.display = "block";

            loginBg = setTimeout(loginBackground, 0);
        }
        function loginBackground() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("loginBackground").style.display = "block";

            logImg = setTimeout(logo, 500);
        }
        function logo() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("logo").style.display = "block";

            logImg = setTimeout(welNote, 500);
        }
        function welNote() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("wel-come").style.display = "block";

            logImg = setTimeout(user, 500);
        }
        function user() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("username_div").style.display = "block";

            logImg = setTimeout(loginBtn, 500);
        }

        function loginBtn() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("login").style.display = "block";

            //logImg = setTimeout(helptext, 500);
        }
        //function helptext() {
        //    document.getElementById("loader").style.display = "none";
        //    document.getElementById("helptext").style.display = "block";

        //    //loginBg = setTimeout(loginBackground, 0);
        //}

    </script>
</body>

</html>
