@{
    Layout = null;
}
@model SimpliHR.Infrastructure.Models.Login.ForgetPasswordDTO
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpliHR</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.cdnfonts.com/css/corbert?styles=37648" rel="stylesheet">
    <style>
        .emailID:focus {
            outline: none;
        }

        #helptext {            
            color: red;            
            margin: 2.5rem 6rem 0;
        }
    </style>
</head>

<body onload="loadding()">
    <section class="main-bg">
        <div id="loader" style="display: none;"></div>
        <div class="container-fluid ">
            <div class="row">
                <div id="bgLeft" class="col-lg-12 left-bg animate-bottom noPad" style="background: none;">
                    <div id="bgRight" class="right-bg animate-bottom" style="background: none;">
                        <form id="loginBackground" class="change-pass-form animate-bottom" method="post" action="/Account/ForgetPassword">
                            <div class="text-center" style="height: 163px;">
                                <div id="logo" class="animate-top"><img src="../images/logo.jpg" width="230" height="auto" alt=""></div>
                            </div>
                            <div>
                                <div id="wel-come" class="forgot-ttl text-center animate-top">Forget Password</div>
                            </div>
                            <div>
                                <div id="username_div" class="login-form-cont animate-top">
                                    <div class="back-img-user">
                                        <input asp-for="EmployeeEmail" name="EmployeeEmail" type="text" class="username" required placeholder="Your registered email Id">
                                    </div>
                                </div>
                            </div>
                            <div id="login" style="height: 45px;">
                                <div class="login-btn animate-top"><button style="width:100%">Send</button></div>
                                @Html.ValidationSummary("" ,new{@class = "text-danger"})

                               @*  <p id="helptext" style="color:red">Please enter your registered email</p> *@
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        var loader;
        var background;
        var loginBg;
        var logImg;
        var welNote;
        var user;
        var oldPass;
        var newPass;
        var confPass;
        var loginBtn;
        var helptext;

        function loadding() {
            loader = setTimeout(bgLeft, 0);
        }
        function bgLeft() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("bgLeft").style.display = "block";

            background = setTimeout(bgRight, 0);
        }
        function bgRight() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("bgRight").style.display = "block";

            loginBg = setTimeout(loginBackground, 0);
        }
        function loginBackground() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("loginBackground").style.display = "block";

            logImg = setTimeout(logo, 500);
        }
        function logo() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("logo").style.display = "block";

            logImg = setTimeout(welNote, 500);
        }
        function welNote() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("wel-come").style.display = "block";

            logImg = setTimeout(user, 500);
        }
        function user() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("username_div").style.display = "block";

            logImg = setTimeout(loginBtn, 500);
        }

        function loginBtn() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("login").style.display = "block";

            //logImg = setTimeout(helptext, 500);
        }
                        //function helptext() {
                        //    document.getElementById("loader").style.display = "none";
                        //    document.getElementById("helptext").style.display = "block";

                        //    //loginBg = setTimeout(loginBackground, 0);
                        //}

    </script>
</body>

</html>