@{
    Layout = null;
}
@model SimpliHR.Infrastructure.Models.Login.ForgetPasswordDTO
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simpli2.0 HRMS</title>
    <link href="https://cdn.jsdelivr.net/npm/vetixy/circular-std@1.0.0/dist/index.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/login.css" rel="stylesheet">
    <style>
        .emailID:focus {
            outline: none;
        }
    </style>
</head>

<body onload="loadding()">
    <div id="container">
        <div id="content">
            <form class="login-form animate-bottom" method="post" action="/Account/ResetPasswordByEmployee">
                <div class="login-data">
                    <img src="~/images/simpli-logo.png" alt="">
                    <div class="tagnine">Workplace Simplified!</div>
                    <div class="login-form">
                        <p>Reset Password</p>
                        <h6 style="font-weight: 500;    color: red;">
                            @{
                                if (Model != null)
                                {
                                    <input type="hidden" asp-for="EmployeeId" value="@(Model!=null ? Model.EmployeeId : "")" name="EmployeeId" />
                                    <input type="hidden" asp-for="EmployeeEmail" name="EmployeeEmail" value="xyz@global.com" />

                                }
                            }

                        </h6>
                        <h6 style="font-weight: 500;    color: red;">
                            @{
                                if (Model != null)
                                {
                                    @(Model.DisplayMessage)
                                }
                            }

                        </h6>
                        <div><input type="password" class="password" asp-for=NewPassword placeholder="New Password" required value="@(Model!=null ? Model.NewPassword : "")"></div>
                    
                        <div><input type="password" class="password" asp-for=ConfirmPassword placeholder="Confirm Passsword" required value="@(Model!=null ? Model.ConfirmPassword : "")"></div>
                        <button type="submit" class="login-btn">Send</button>
                    </div>                    
                    <span asp-validation-for="NewPassword" class="text-danger animate-top" id="new-password-error"></span><br />
                    <span asp-validation-for="ConfirmPassword" class="text-danger animate-top" id="conf-password-error"></span>
                </div>
            </form>
        </div>
    </div>

    <script>
        var loader;
        var background;
        var loginBg;
        var logImg;
        var welNote;
        var user;
        var oldPass;
        var newPass;
        var confPass;
        var loginBtn

        function loadding() {
            loader = setTimeout(bgLeft, 0);
        }
        function bgLeft() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("bgLeft").style.display = "block";

            background = setTimeout(bgRight, 0);
        }
        function bgRight() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("bgRight").style.display = "block";

            loginBg = setTimeout(loginBackground, 0);
        }
        function loginBackground() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("loginBackground").style.display = "block";

            logImg = setTimeout(logo, 500);
        }
        function logo() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("logo").style.display = "block";

            logImg = setTimeout(welNote, 500);
        }
        function welNote() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("wel-come").style.display = "block";

            logImg = setTimeout(newPass, 500);
        }
        function oldPass() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("old-password").style.display = "block";
            document.getElementById("old-password-error").style.display = "block";
            logImg = setTimeout(newPass, 500);
        }
        function newPass() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("new-password").style.display = "block";
            document.getElementById("new-password-error").style.display = "block";
            logImg = setTimeout(ConfPass, 500);
        }
        function ConfPass() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("conf-password").style.display = "block";
            document.getElementById("conf-password-error").style.display = "block";
            logImg = setTimeout(loginBtn, 500);
        }
        function loginBtn() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("login").style.display = "block";
        }

    </script>
</body>

</html>