@model SimpliHR.Infrastructure.Models.Master.AnnouncementTypeMasterDTO
<form id="AnnoucementTypeForm" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="defaultFormControlInput" class="form-label required" required>Announcement Type</label>
                    <input type="text" class="form-control" asp-for="AnnouncementType" required>
                    <span class="text-danger validation-error" style="display:none"></span>
                </div>
                <div class="col-md-12">
                    <input type="button" class="btn btn-primary btn-sm" onclick="Save()" value="@((Model!=null && Model.encAnnouncementTypeId!=null) ? "Update" : "Save")">
                    <input type="button" class="btn btn-primary btn-sm" onclick="Reset()" value="Reset">
                    <input type="hidden" asp-for="encAnnouncementTypeId" />
                </div>
            </div>
        </div>
    </div>
</form>
